In [1]:
import pandas as pd

In [2]:
import psycopg2

In [3]:
conn_string = "host ='db' dbname = 'postgres' user = 'postgres' password ='mysecretpassword'"

In [4]:
conn  = psycopg2.connect(conn_string)

In [5]:
cursor = conn.cursor()

In [16]:
cursor.execute("SELECT * FROM my_table")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [11]:
df = pd.read_csv('wine.csv')

In [12]:
df.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [14]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:mysecretpassword@db:5432/postgres')

In [15]:
df.to_sql('wine', engine)

In [16]:
df_pg = pd.read_sql_query('select * from wine', con = engine)

In [17]:
df_pg.head()

,index,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [19]:
pd.read_sql_query('select count(*) from wine', con = engine)

   count
0    178